.sns-links {
    text-align: center;
  }

.sns-links h2 {
    padding: 1rem;
}

.sns-buttons {
    border-bottom: 2px solid white;
    margin: 0rem 3rem;
    padding-bottom: 2.5rem;
}

.sns-buttons a {
    margin: 0 1rem;
    color: #a8eae1;
    border: 1px solid #000000;
    padding: 8px 50px;
    background-color: #43646a;
}

.artworks {
    margin-top: 5rem;
    padding: 0 5rem;
}