.sns-links {
    text-align: center;
}

.sns-links h2 {
    padding: 1rem;
    font-size: 36px;
}

.sns-buttons {
    border-bottom: 2px solid white;
    margin: 0rem 3rem;
    padding-bottom: 2.5rem;
}

.sns-buttons a {
    margin: 0 1rem;
    color: #a8eae1;
    border: 1px solid #000000;
    padding: 8px 50px;
    border-radius: 6px;
    background-color: #657083;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sns-buttons a:hover {
    background-color: #b4b4d2;
    color: #4b467f;
}

.artworks {
    margin-top: 5rem;
    padding: 0 5rem;
}

.artworks h3 {
    margin-top: -2rem;
    margin-bottom: 4rem;
    text-align: center;
    white-space: pre-line;
}

.artwork-item {
    display: flex;
    margin-bottom: 4rem;
    cursor: pointer;
}

.artwork-image img {
    width: 500px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.artwork-image img:hover {
    transform: scale(1.05);
}

.artwork-description {
    padding: 0 4rem;
    white-space: pre-line;
    margin-top: -2rem;
}

.artwork-description p {
    font-size: 20px;
}


.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    border-radius: 8px;
    text-align: center;
    position: relative;
    max-width: 80%;
    max-height: 90%;
    overflow-y: auto;
}

.modal-content img {
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 28px;
    cursor: pointer;
    color: black;
    border: none;
    background: transparent 50%;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
