.button-container {
    display: flex;
    gap: 10rem; 
    justify-content: center;
    margin-top: 2rem;
}

.image-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
}

.image-button img {
    width: 10rem;
    transition: transform 0.2s ease;
}

.image-button img:hover {
    transform: scale(1.1);
    cursor: pointer;
}